body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

nav.dark-mode {
    background-color: #333;
}

#interno2.dark-mode, #interno3.dark-mode {
    background-color: #444;
    color: #ffffff;
}

#titolo.dark-mode, .titolo.dark-mode {
    color: #00bcd4;
}

#artigo1.dark-mode, #artigo2.dark-mode, 
#banda.dark-mode, #Champignon.dark-mode, 
#RenatoPelado.dark-mode, #Marcão.dark-mode, 
#Thiago.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #00bcd4;
    box-shadow: 5px 5px 5px 3px #00bcd4;
}

nav.dark-mode>a {
    color: #00bcd4;
}

#v1.dark-mode, #v2.dark-mode, 
#v3.dark-mode, #v4.dark-mode, 
#v5.dark-mode, #v6.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}